@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}


@layer base {
  html,
  body,
  * {
    font-family: "Inter", sans-serif !important;
  }

  body {
    @apply tw-bg-gradient-to-br tw-from-green-50 tw-to-emerald-50 tw-text-gray-800;
    color: var(--foreground);
  }
}

/* reset เล็กๆ สำหรับ number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
