@import "tailwindcss";
@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


:root {
  --foreground: #171717;
}

@layer base {

  html,
  body,
  * {
    font-family: "Inter", sans-serif !important;
  }

  body {
    @apply bg-gradient-to-br from-green-50 to-emerald-50 text-gray-800;
    color: var(--foreground);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}